@using Service.ViewModels
@model (List<PostViewModel> postVML, PageViewModel pageVM)

<style>
    .username {
        width: 100px;
    }

    .title {
        width: 100px;
    }

    .content {
        width: 300px;
    }

    .post-date {
        width: 100px;
    }

    .pagination {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .page-item {
        margin: 0 5px;
    }

    .page-link {
        padding: 5px 10px;
        background-color: #fff;
        color: #000000;
        border: 1px solid #fff;
        border-radius: 3px;
        cursor: pointer;
    }

    .page-item.active .page-link {
        background-color: #000000;
        border-color: #000000;
        color: #fff;
    }
</style>

<h2>All Posts</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="username">Username</th>
                <th scope="col" class="title">Title</th>
                <th scope="col" class="content">Content</th>
                <th scope="col" class="post-date">Post Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var postVM in Model.postVML)
            {
                <tr>
                    <td class="username">@(postVM.UserViewModel?.Username ?? "已刪除用戶")</td>
                    <td class="title">
                        <a href="@Url.Action("DetailPost", "Post", new { postId = postVM.PostId })">
                            @postVM.Title
                        </a>
                    </td>
                    <td class="content">@postVM.Content</td>
                    <td class="post-date">@postVM.PostDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Pagination Section -->
    <nav class="d-flex justify-content-center">
        <ul class="pagination">
            @for (int i = 1; i <= Model.pageVM.TotalPages; i++)
            {
                <li class="page-item @(Model.pageVM.CurrentPage == i ? "active" : "")">
                    <a class="page-link" href="?currentPage=@i&topicId=@ViewBag.TopicId">@i</a>
                </li>
            }

        </ul>
    </nav>
</div>

